<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Creado::CrudDato</title>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrapt/3.1.0/css/botstrap.min.css" />
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3>Dato creado con exito!</h3>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>titulo</th>
					<th>Categoria</th>
					
				</tr>
			<tbody>
				<tr>
					<td data-th-text="${dato.id}"></td>
					<td data-th-text="${dato.titulo}"></td>
					<td data-th-text="${dato.categoria}"></td>
					
				</tr>
			</tbody>
		</table>
	</div>
	<br/>
	<a class="btn btn-info" href="/crud">Volver</a>
</body>
</html>