<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrapt/3.1.0/css/botstrap.min.css" />
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<title>Lista::CrudDato</title>
</head>
<body>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3>Lista de datos</h3>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titulo</th>
					<th>Categoria</th>
			
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="dato : ${datos}">
					<td data-th-text="${dato.id}"></td>
					<td data-th-text="${dato.titulo}"></td>
					<td data-th-text="${dato.categoria}"></td>
	
				</tr>
			</tbody>
		</table>
	</div>
	<br />
	<a class="btn btn-info" href="/crud/nuevo">Nuevo Dato</a>

</body>
</html>