<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Catalogo</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>

		<h3 th:if="${list.isEmpty()}">NO HAY DATOS PARA ANOTAR</h3>
		<div th:if="${!list.isEmpty()}">
			<h3>Datos ingresados</h3>
			<table class="table">
				<thead>
					<tr>
						<th>Categoria</th>
						<th>Titulo</th>
						<th>Descripcion</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="anotacion : ${list}">
						<td th:text="${anotacion.categoria}">
						<td th:text="${anotacion.titulo}">
						<td th:text="${anotacion.descripcion}">
						<td><a class="btn btn-warning" th:href="@{/saveDato/{id}(id=${anotacion.id})}">Modificar dato</a></td>
						<td><a class="btn btn-dark" th:href="@{/delete/{id}(id=${anotacion.id})}">Eliminar el dato</a></td>
					</tr>
				</tbody>
			</table>
		</div>
    <div>
      <a href="/saveDato/0" class="btn btn-primary">Anotar</a>
    </div>
	</div>

</body>
</html>
