<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Catalogo</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<div>
			<a href="/save/0" class="btn btn-primary">ANOTACION +!</a>
		</div>
		<h2 th:if="${list.isEmpty()}">SIN ANOTACIONES!</h2>
		<div th:if="${!list.isEmpty()}">
			<h2>ANOTACIONES</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Titulo</th>
						<th>Categoria</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="anotacion : ${list}">
						<td th:text="${anotacion.titulo}">
						<td th:text="${anotacion.categoria}">
						<td><a class="btn btn-info" th:href="@{/save/{id}(id=${anotacion.id})}">Editar</a></td>
						<td><a class="btn btn-warning" th:href="@{/delete/{id}(id=${anotacion.id})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>