<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Catalogo</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body background="https://image.freepik.com/vector-gratis/fondo-azul-claro-ondulado_1035-8917.jpg" style="background-repeat: no-repeat; background;-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;">
	<div class="container">
		<br>
		
		<h2 align="center" th:if="${list.isEmpty()}">SIN ANOTACIONES!</h2>
		<div th:if="${!list.isEmpty()}">
			<h2 align="center" >ANOTACIONES</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Titulo</th>
						<th>Categoria</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="anotacion : ${list}">
						<td th:text="${anotacion.titulo}">
						<td th:text="${anotacion.categoria}">
						<td><a class="btn btn-success" th:href="@{/save/{id}(id=${anotacion.id})}">Editar</a></td>
						<td><a class="btn btn-dark" th:href="@{/delete/{id}(id=${anotacion.id})}">Eliminar</a></td>
					</tr>
					
				</tbody>
			</table>
			<br/>
			<div>
			<a href="/save/0" class="btn btn-info">ANOTACION +!</a>
		</div>
		
		</div>
	</div>

</body>
</html>