<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
  

</head>
<body>

<div class="container">

	
  <li class="list-group-item " ><h5><p class="text-info text-center">Imagenes</p>
  <h5></h5>
  <form class="form-horizontal" >></form>
    <div class="form-group row ">

    	








						    
	</div>

	<form class="form-horizontal" >
    <div class="form-group ">
						    <label for="colFormLabel" class="col-sm-2 col-form-label">Enlace:</label>


						    <div class="col-sm-5">
						      <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="">
						    </div>



 
    </div>

    
					         <button type="submit btn-center" class="btn btn-info mb-8">Guardar </button>

					         <button type="submit" id_element="3" class="btn btn-warning btnedit_reserve" data-placement="top" title="Editar"><i title="Editar" class="fa fa-edit"></i>

					         <button type="submit" id_element="3" class="btn btn-danger btnedit_reserve" data-placement="top" title="Delete"><i title="Delete" <i class="fas fa-trash-alt"></i>
					         	
					         	<button type="submit btn-center" class="btn btn-primary mb-8">Volver al Inicio</button>
    </div>

  </form>

  
</div>

</body>
</html>